@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  word-break: break-word;
}
body::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --profile-background: linear-gradient(180deg, #c55ef6 0%, #4c3790 100%);
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  img {
    /* width: auto; */
    height: auto;
  }
}

@layer utilities {
  /* TYPOGRAPHY  */
  .d1-bold {
    @apply text-[21px] sm:text-[27px] md:text-[31px] md:leading-[40px] font-bold text-black-800 dark:text-white-100;
  }
  .d2-bold {
    @apply text-2xl font-bold text-black-800 dark:text-white-100;
  }
  .h1-medium {
    @apply text-[20px] leading-[28px] font-medium text-black-800 dark:text-white-200;
  }
  .h2-medium {
    @apply text-base font-medium text-black-800 dark:text-white-200;
  }
  .p1-bold {
    @apply text-[18px] leading-[21.6px] font-bold text-black-800 dark:text-white-200; /* DOBRO */
  }
  .p2-bold {
    @apply text-base font-bold dark:text-white-200 text-black-800; /* DOBRO */
  }
  .p3-bold {
    @apply text-[14px] leading-[24px] font-bold text-black-800 dark:text-white-100; /* DOBRO */
  }
  .p4-bold {
    @apply text-xs font-bold text-black-700 dark:text-white-400;
  }
  .p1-medium {
    @apply text-[14px] md:!text-[18px] leading-[20px] font-medium text-white-400 dark:text-white-300; /* DOBRO */
  }
  .p2-medium {
    @apply text-base font-medium text-black-800 dark:text-white-200; /* DOBRO */
  }
  .p3-medium {
    @apply text-sm font-medium text-black-800 dark:text-white-200; /* DOBRO */
  }
  .p4-medium {
    @apply text-[10px] md:text-xs font-medium text-black-800 dark:text-white-200; /* DOBRO */
  }
  .p1-regular {
    @apply text-[18px] leading-[20px] font-normal text-black-800 dark:text-white-100;
  }
  .p2-regular {
    @apply text-base font-normal text-white-400 dark:text-white-300;
  }
  .p3-regular {
    @apply text-sm font-normal text-white-400 dark:text-white-200; /* DOBRO*/
  }
  .p4-regular {
    @apply text-xs font-normal text-white-400 dark:text-white-200; /* DOBRO*/
  }
  .subtitle-normal {
    @apply text-[10px] leading-[14px] font-normal text-white-400;
  }
  .subtitle-medium {
    @apply text-[10px] leading-[14px] font-normal text-white-400;
  }
  .cap-10 {
    @apply text-[10px] leading-[13px] font-medium text-white-400;
  }
  .cap-8 {
    @apply text-[8px] leading-[10.4px] font-medium text-white-400;
  }
  /* TYPOGRAPHY  */

  /* DARK LIGHT MODE */
  .bg-light100__dark800 {
    @apply bg-white-100 dark:bg-black-800;
  }
  .bg-light200__dark800 {
    @apply bg-white-200 dark:bg-black-800;
  }
  .bg-light200__dark700 {
    @apply bg-white-200 dark:bg-black-700;
  }

  .hover-sidebar-items {
    @apply hover:dark:bg-black-700 hover:bg-[#F8FAFC] transition-colors;
  }

  .icon-light400__dark300 {
    @apply text-white-400 dark:text-white-300;
  }
  .nav-btn-light200__dark700 {
    @apply bg-white-200 dark:bg-black-700 rounded-[7px] size-[32px] lg:size-[40px];
  }
  /* DARK LIGHT MODE */

  /* FLEX */
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  /* FLEX */

  /* LAYOUT */
  .content-wrapper {
    @apply relative top-[92px] max-sm:pb-[100px] pb-7 lg:top-[100px] flex flex-col md:flex-row gap-5 mx-auto;
  }
  .main-content {
    @apply flex flex-col w-full flex-1 sm:max-w-[80%] mx-auto;
  }
  .create-page-wrapper {
    @apply flex flex-col gap-[30px] py-[30px] px-3.5 md:p-[30px] top-[92px] lg:top-[100px] relative mx-auto max-w-[900px] max-sm:pb-[110px];
  }
  .left-sidebar {
    @apply flex flex-col gap-5  sm:w-[80%] sm:max-w-[80%] sm:mx-auto md:w-left-sidebar md:sticky left-0 h-full top-[92px] lg:top-[100px];
  }
  .right-sidebar {
    @apply flex flex-col gap-5 xl:w-right-sidebar sm:hidden xl:flex xl:sticky xl:right-0 xl:top-[100px] h-full;
  }
  .left-sidebar-item {
    @apply flex flex-col p-5 bg-white-100 dark:bg-black-800 md:rounded-2xl gap-2.5 rounded-md shadow-card;
  }
  .right-sidebar-item {
    @apply flex flex-col p-5 rounded-2xl bg-white-100 dark:bg-black-800 gap-5 shadow-card;
  }

  /* LAYOUT */

  /* PROFILE */
  .profile-background {
    background-image: linear-gradient(180deg, #c55ef6 0%, #4c3790 100%);
    /* background-repeat: no-repeat; */
  }
  /* PROFILE */

  /* SPINNING LOADER */
  .loader {
    @apply size-12 rounded-full inline-block relative border-[3px] border-primary-500 border-t-transparent border-r-transparent box-border;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';
    @apply box-border absolute inset-0 m-auto border-[3px] border-transparent border-b-white-100 border-l-white-100 rounded-full;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center;
  }
  .loader::before {
    @apply w-8 h-8 border-primary-500 border-t-transparent border-r-transparent;
    animation: rotation 1.5s linear infinite;
  }
  /* SPINNING LOADER */

  /* Hide scrollbar for IE, Edge and Firefox etc */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: #ffff !important;
}

/* dashed border */
.dashedBorder {
  width: 100%;
  height: 250px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='rgba(171, 192, 210, 0.3)' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
.tox-toolbar__primary {
  display: flex;
  justify-content: space-between;
  background-color: transparent !important;
}
.tox .tox-toolbar-overlord {
  background-color: transparent !important;
}

.tox .tox-edit-area__iframe {
  background-color: transparent !important;
}
.tox:not(.tox-tinymce-inline) .tox-editor-header {
  background-color: transparent !important;
}

.tox .tox-edit-area::before {
  border: none !important;
}
.tox-tinymce {
  border: 1px solid rgba(190, 190, 192, 0.2) !important;
}
.mce-content-body {
  border: transparent !important;
}
.tox .tox-statusbar {
  display: none !important;
}
.tox:not(.tox-tinymce-inline) .tox-editor-header {
  border: none !important;
}
.tox-dialog-wrap__backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.tox-dialog__header {
  background-color: #1f2128 !important;
  padding: 10px 10px !important;
}
.tox-dialog__body-content {
  background-color: #262935 !important;
}
.tox-dialog__footer {
  background-color: #1f2128 !important;
}
.tox-button {
  border: none !important;
  background-color: #262935 !important;
}
.tox .tox-tbtn {
  background-color: transparent !important;
}

.tox-button:hover {
  background-color: #1f2128 !important;
}
.tox .tox-toolbar-overlord > .tox-toolbar,
.tox .tox-toolbar-overlord > .tox-toolbar__overflow,
.tox .tox-toolbar-overlord > .tox-toolbar__primary {
  background-size: 0 !important;
}
[data-mce-name='customimagebutton'] span svg {
  fill: #c55ef6 !important;
}
[data-mce-name='customimagebutton'] span {
  color: #c55ef6 !important;
}

.markdown h2 {
  font-size: 22px;
  letter-spacing: 0.5px;
  font-weight: 700;
  margin-bottom: 10px;
  margin: 20px 0;
}

.markdown p {
  color: #808191;
  font-size: 18px;
  margin-bottom: 10px !important;
  font-weight: 400;
  line-height: 24px;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

input[type='time']::-webkit-calendar-picker-indicator {
  background-color: rgb(110, 110, 110);
  border-radius: 50%;
}
/* dialog icon styles */
.react-share__ShareButton {
  border: 1px solid rgba(72, 72, 73, 0.4) !important;
  padding: 20px !important;
  background-color: 'transparent' !important;
  border-radius: 20px !important;
}

.react-share__ShareButton svg {
  margin: auto;
  transition: transform 0.3s ease-in-out;
}
.react-share__ShareButton svg:hover {
  transform: scale(1.3);
}
.css-ja5taz-MuiTooltip-tooltip {
  background-color: rgba(90, 90, 120, 0.4) !important;
  color: #fff !important;
}
