@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer utilities {
  .display-1-bold {
    @apply text-[21px] sm:text-[27px] md:text-left md:text-[31px] md:leading-[40px] font-bold text-black-800 dark:text-white-100;
  }
  .display-2-bold {
    @apply text-2xl font-bold text-black-800 dark:text-white-100;
  }
  .heading-1-medium {
    @apply text-[20px] leading-[28px] font-medium text-black-800 dark:text-white-200;
  }
  .heading-2-medium {
    @apply text-base font-medium text-black-800 dark:text-white-200;
  }
  .paragraph-1-bold {
    @apply text-[18px] leading-[20px] font-bold text-black-700 dark:text-white-100;
  }
  .paragraph-2-bold {
    @apply text-base font-bold dark:text-white-200;
  }
  .paragraph-3-bold {
    @apply text-[14px] leading-[24px] font-bold text-black-700 dark:text-white-300;
  }
  .paragraph-4-bold {
    @apply text-xs font-bold text-black-700 dark:text-white-400;
  }
  .paragraph-1-medium {
    @apply text-[16px] md:text-[18px] leading-[20px] font-medium text-black-700 dark:text-white-200;
  }
  .paragraph-2-medium {
    @apply text-base font-medium text-black-800 dark:text-white-400;
  }
  .paragraph-3-medium {
    @apply text-[16px] md:leading-[20px] font-medium text-black-800 dark:text-white-200;
  }
  .paragraph-4-medium {
    @apply text-xs font-medium text-black-800 dark:text-white-200;
  }
  .subtitle {
    @apply text-[10px] leading-[16px] font-bold text-white-400;
  }
  .caption {
    @apply text-[10px] leading-[16px] font-medium text-white-400;
  }
  .paragraph-1-regular {
    @apply text-[18px] leading-[20px] font-normal text-black-800 dark:text-white-100;
  }
  .paragraph-2-regular {
    @apply text-base font-normal text-white-400 dark:text-white-300;
  }
  .paragraph-3-regular {
    @apply text-sm font-normal text-white-400 dark:text-white-200;
  }
  .paragraph-4-regular {
    @apply text-xs font-normal text-black-800 dark:text-white-400;
  }

  /* DARK LIGHT MODE */
  .bg-white-100__dark-800 {
    @apply bg-white-100 dark:bg-black-800;
  }

  /* DARK LIGHT MODE */
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: #ffff !important;
}
