@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --profile-background: linear-gradient(180deg, #c55ef6 0%, #4c3790 100%);
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer utilities {
  /* TYPOGRAPHY  */
  .d1-bold {
    @apply text-[21px] sm:text-[27px] md:text-left md:text-[31px] md:leading-[40px] font-bold text-black-800 dark:text-white-100;
  }
  .d2-bold {
    @apply text-2xl font-bold text-black-800 dark:text-white-100;
  }
  .h1-medium {
    @apply text-[20px] leading-[28px] font-medium text-black-800 dark:text-white-200;
  }
  .h2-medium {
    @apply text-base font-medium text-black-800 dark:text-white-200;
  }
  .p1-bold {
    @apply text-[18px] leading-[20px] font-bold text-black-700 dark:text-white-100;
  }
  .p2-bold {
    @apply text-base font-bold dark:text-white-200;
  }
  .p3-bold {
    @apply text-[14px] leading-[24px] font-bold text-black-700 dark:text-white-300;
  }
  .p4-bold {
    @apply text-xs font-bold text-black-700 dark:text-white-400;
  }
  .p1-medium {
    @apply text-[16px] md:text-[18px] leading-[20px] font-medium text-black-700 dark:text-white-200;
  }
  .p2-medium {
    @apply text-base font-medium text-black-800 dark:text-white-400;
  }
  .p3-medium {
    @apply text-sm font-medium text-black-800 dark:text-white-200;
  }
  .p4-medium {
    @apply text-xs font-medium text-white-400 dark:text-white-300;
  }
  .p1-regular {
    @apply text-[18px] leading-[20px] font-normal text-black-800 dark:text-white-100;
  }
  .p2-regular {
    @apply text-base font-normal text-white-400 dark:text-white-300;
  }
  .p3-regular {
    @apply text-sm font-normal text-white-400 dark:text-white-200;
  }
  .p4-regular {
    @apply text-xs font-normal text-white-400 dark:text-white-200;
  }
  .subtitle {
    @apply text-[10px] leading-[16px] font-normal text-white-400;
  }
  .caption-10 {
    @apply text-[10px] leading-[13px] font-medium text-white-400;
  }
  .caption-8 {
    @apply text-[8px] leading-[10.4px] font-medium text-white-400;
  }
  /* TYPOGRAPHY  */

  /* DARK LIGHT MODE */
  .bg-light100__dark800 {
    @apply bg-white-100 dark:bg-black-800;
  }
  .icon-white-400__dark-white-300 {
    @apply text-white-400 dark:text-white-300;
  }
  .nav-button-white-200__dark-black-700 {
    @apply bg-white-200 dark:bg-black-700 rounded-[7px] size-[32px] lg:size-[40px];
  }
  /* DARK LIGHT MODE */

  /* FLEX */
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  /* FLEX */

  /* LAYOUT ? NOT SURE IF THIS WILL BE USED, LEFT JUST IN CASE WE NEED IT LATER!!! */
  .content-wrapper {
    @apply top-[100px] lg:gap-5;
  }

  .left-sidebar {
    @apply flex flex-col  sm:w-left-sidebar;
  }
  .right-sidebar {
    @apply flex flex-col lg:w-right-sidebar max-sm:flex sm:hidden lg:flex;
  }

  .sidebar-item {
    @apply flex flex-col bg-white-100 dark:bg-black-800;
  }
  /* .left-sidebar-item {
    @apply w-[21,625rem] lg:w-52 gap-5;
  }
  .right-sidebar-item {
    @apply w-[21,625rem] lg:w-[20.25rem] lg:p-5 gap-5;
  } */

  /* LAYOUT */

  /* PROFILE */
  .profile-background {
    background-image: linear-gradient(180deg, #c55ef6 0%, #4c3790 100%);
    /* background-repeat: no-repeat; */
  }
  /* PROFILE */
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: #ffff !important;
}
